@model DataLayer.Entityes.Lector;
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
</html>
<link rel="stylesheet" href="~/css/site.css">

<div class="edit-block">
    <h2>Лектор</h2>
    @using (Html.BeginForm("EditLector", "Home"))
    {
    @Html.HiddenFor(m => m.Id)
    <div class="dataBox">
        <label>Имя</label><br />
        @Html.TextBoxFor(m => m.Name, new { @class = "text-box" })
    </div>
    <div style="display:flex;">
        <div class="addmus">
            <a asp-action="Lectors">Вернуться к лекторам</a>
        </div>
        <div class="addmus">
            <input type="submit" value="Сохранить" />
        </div>
    </div>
    }
</div>
